.next-page  > a{
    color: #080808;
    text-decoration-line: none;
    padding: 5px 10px;
}
.next-page > a > img {
    width: 40px;
}
.next-page {
    margin-top: 0;
    width: 1025px;
    height: 30px;
    text-align: right;

}
.img-direction {
    width: 40px;
}
.main {
    margin: 0;
    padding: 0;
}