
.img-direction {
    width: 40px;
}
.allMiniMovie-content {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    justify-content: center;
}

.allMiniMovie-content > div:nth-child(1){
  background: white;
  grid-column: 2/8;
  grid-row: 2/3;
  font-size: 44px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px 10px;
  justify-content: center;
}
.allMiniMovie-content > div:nth-child(2){

  grid-column: 2/8;
  grid-row: 3/4;
}
.next-page {
  grid-column: 8/9;
  grid-row:2/3;
}
.next-page >div{
  margin-top: 20px;
    margin-left: 40px;
    position: fixed;
}
.next-page  > a{

    color: #080808;
    text-decoration-line: none;
    padding: 5px 10px;
}
.next-page > a > img {
    width: 40px;

}
.next-page {

    margin-top: 0;
    text-align: center;

}
