.media {
    margin: 0 auto;
    width: 1050px;
    height: 600px;
    display: flex;
    border: 1px red solid;
}
.index-tvshows {
    flex-direction: row;
    margin-top: 100px;
    width: 525px;
    border: 1px green solid;
    height: 500px;
}
.index-films {
    flex-direction: row;

    margin-top: 100px;
    width: 525px;
    border: 1px #80006b solid;
    height: 500px
}
.big-poster{
    width: 525px;
    height: 280px;
    border: 1px black solid;
}
.index-tvshows > span{
    width: 100px;
    height: 100px;
    border: 1px red solid;
}
.little-poster{
    margin-top: 30px;
    width: 99px;
    height: 87px;
    border: 1px  yellow solid;
}

footer{

}

footer> div {
    margin: 0 auto;
    border: 1px red solid;
    width: 800px;
    display: flex;
    text-align: center;
}

footer > div > div > nav > ul  {
    line-height: 1.4em;
}


footer > div > div > nav > ul > li {

    list-style-type: none;
}

footer > div > div> nav > ul > li > a{
    text-decoration-line: none;

    color: white;
}

footer > div > div > div {
    flex-direction: row;
    margin: 30px;
    width: 200px;
    border: 1px royalblue solid;
}
.forma-user {
  top: 500px;
  left: 100px;
  border: 1px red solid;
  width: 200px;
  height: 600px;
  position: absolute;
}
