<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Documents</title>
</head>
<body>
  <form method="post">
    <input type="text" name="text">
    <button type="submit" name="button">submit</button>
  </form>
</body>
</html>
