.comment-about-film{
  display: grid;
  grid-template-columns:repeat(6, 16.6%);
  grid-template-rows: repeat(8, 16.6%);
  justify-content: center;
}
.comment-about-film> div> input{
  border-radius: 5px 5px;
 font-size: 20px;
 border: 10px solid rgba(255, 255, 255, .5);
 box-shadow:
 0 2px 10px rgba(0, 0, 0, .25) inset,
 0 2px 10px rgba(0, 0, 0, .25);
 border-radius: ;
 background: rgba(255, 255, 255, .5);
 appearance:none;
 outline: none;
 height: 50%;
 color: black;
 width: 80%;
}
.comment-h3{
  text-align: center;
  grid-column: 2/6;
  grid-row: 1/2;
}
.comment-name{
  text-align: center;
  grid-column: 3/4;
  grid-row: 3/4;
}
.comment-rating{
  text-align: center;
  grid-column: 4/5;
  grid-row: 3/4;
}
.comment-text{
  text-align: center;
  grid-column: 3/5;
  grid-row: 4/5;
}
.comment-about-film>.comment-text> input{
  width: 90%;
}
.comment-send{
  margin-top: 20px;
  text-align: center;
  grid-column: 3/5;
  grid-row: 5/6;
}
.send-comment {
  margin-top: 7px;
  border: 1px black solid;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  user-select: none;
  background: black;
  padding: .7em 1.5em;
  outline: none;
}
.send-comment:hover {
  background: white;
  border: 1px black solid;
  color: black;
  }
.send-comment:active {   background: rgb(232,95,76);}

.comment-otherCom{
  text-align: center;
  grid-column: 2/6;
  grid-row: 7/8;
}

.comment-otherCom>div{
  display: grid;
  grid-template-columns: 10% 25% 30% auto;
  grid-template-rows: 30% 40% 30%;
  background: white;
  border-radius: 10px 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.comment-comment{
  grid-column: 1/5;
  grid-row: 3/4;
  text-align: left;
  padding: 10px;
  font-size: 20px;
}
.comment-otherName{
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 10px;
    text-align: left;
}
.comment-otherName>b{
  border: 1px black solid;
  padding: 10px;

}
.comment-date{
  text-align: left;
  padding: 10px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.comment-ratingFromUser{
  text-align: left;
  padding: 10px;
  grid-column: 3/4;
  grid-row: 1/2;
}
.comment-hr{
  margin-top: 9px;
  grid-column: 1/6;
  grid-row: 2/3;
  border: 1px black solid;
  opacity: 0.3;
}
